<div class="container">
    <h1>Goal Tracker</h1>
    <hr>
 <div class="row">  
    <div class="col-md-6">
        <div *ngFor="let goal of goals; let i = index">
            <div>
            <h4 appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4> 
            <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
            </div>

            <div *ngIf='goal.showDescription'>
             <app-goal-details [goal]='goal' (isComplete)="deleteGoal($event, i)"></app-goal-details>
            </div>
            
        </div>
    </div>    

  <br><hr>
  <div class="col-md-6">
    <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
  </div>
</div> 
<br><hr>
  <p *ngIf="goals.length > 5">You have many goals</p>
 <div>
   <blockquote class="blockquote text-center">
     <p class="mb-0">{{quote.quote}}</p>
     <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
   </blockquote>
 </div>
</div>
